
<md-card>
  <!--<google-map latitude="48.8534100" longitude="2.3488000" fit-to-markers>    
    <google-map-marker *ngFor="let person of people" [attr.latitude]="person.geo?.lat" [attr.longitude]="person.geo?.lng"
    draggable="true" animation="DROP" [open]="person===currentPerson" title="{{ person.firstname }} {{ person.lastname }}">
      <section class="layout vertical center">
          <a class="username"  [routerLink]="['/people', person.id || '']">
              <span>{{person.firstname}}</span>
              <span class="lastname">{{person.lastname}}</span>
          </a>
          <img src="{{person.photo}}">
      </section>
    </google-map-marker>
  </google-map>-->
</md-card>
